In [2]:
### for loop (range,enumerate)
### while loop

In [4]:
### for loop

In [9]:
name_of_students = ["raphael","daniel","bashy","deji"]

In [48]:
name_of_students[3]

'deji'

In [56]:
for name in name_of_students:
    print(name,type(name),name.upper())
    print(name,"how are you")
    print(" ")

raphael <class 'str'> RAPHAEL
raphael how are you

daniel <class 'str'> DANIEL
daniel how are you

bashy <class 'str'> BASHY
bashy how are you

deji <class 'str'> DEJI
deji how are you

In [55]:
name = name_of_students[0]
print(name,type(name),name.upper())
print(name,"how are you")
print(" ")

raphael <class 'str'> RAPHAEL
raphael how are you

In [49]:
name = name_of_students[0]
print(name)
print("student")
time.sleep(2)

name = name_of_students[1]
print(name)
print("student")
time.sleep(2)

name = name_of_students[2]
print(name)
print("student")
time.sleep(2)

name = name_of_students[3]
print(name)
print("student")
time.sleep(2)

raphael
student
daniel
student
bashy
student
deji
student

In [50]:
name

'deji'

In [42]:
name = "deji"
print(name)
name = "teju"
print(name)

deji
teju

In [43]:
name

'teju'

In [52]:
### add numbers together using a loop 
### multiplication

In [66]:
### addition
numbers = [1,2,3,4,5,6,7,8,9,10]

In [67]:
import time

total = 0
for num in numbers:
    total = total + num 
    print(total) 
    time.sleep(2)

1
3
6
10
15
21
28
36
45
55

In [62]:
total

6

In [59]:
total = 0

num =  numbers[0]

total = total + num # 0 + 1 # 1

print(total) #1

num = numbers[1] # 2

total = total + num ## 1 + 2 = 3

print(total) #3

num = numbers[2] #3

total = total + num ## 3 + 3 = 6

print(total) # 6

1
3
6

In [60]:
total

6

In [84]:
numbers = [1,2,3]

In [86]:
import time
total = 1

for num in numbers:
    total = total * num
    print(total)

1
2
6

In [76]:
total = 1

num = numbers[0]

total = total * num #1


num = numbers[1]

total = total * num #2



num = numbers[2]

total = total * num ## 4

In [77]:
total

4