In [11]:
### data analysis
### from HOD (how many girls are in csc)

In [2]:
department = ["csc","csc","eng","csc"]
names = ["bola","daniel","shade","dupe"]
gender = ["female","male","female","female"]

In [3]:
import pandas as pd

In [8]:
df = pd.DataFrame({"school department":department,"student name":names,"student gender":gender})

In [9]:
df

  school department student name student gender
0               csc         bola         female
1               csc       daniel           male
2               eng        shade         female
3               csc         dupe         female

In [10]:
### first step get only csc student(BOOLEAN INDEXING)
### second get only female in csc student

In [16]:
computer_science = df[df["school department"]=="csc"]
computer_science

  school department student name student gender
0               csc         bola         female
1               csc       daniel           male
3               csc         dupe         female

In [21]:
csc_girls = computer_science[computer_science["student gender"] == "female"]

In [25]:
csc_girls['student gender'].value_counts()

student gender
female    2
Name: count, dtype: int64