In [1]:
name = ["shade","dele","dayo","daniel","raphael","bola"]
grade = ["A","B","A","B","A","A"]
gender = ["FEMALE","MALE","MALE","MALE","MALE","FEMALE"]

In [2]:
name

['shade', 'dele', 'dayo', 'daniel', 'raphael', 'bola']

In [3]:
grade

['A', 'B', 'A', 'B', 'A', 'A']

In [4]:
gender

['FEMALE', 'MALE', 'MALE', 'MALE', 'MALE', 'FEMALE']

In [11]:
all_data = {"names":name,"grades":grade,"genders":gender}

In [12]:
all_data

{'names': ['shade', 'dele', 'dayo', 'daniel', 'raphael', 'bola'],
 'grades': ['A', 'B', 'A', 'B', 'A', 'A'],
 'genders': ['FEMALE', 'MALE', 'MALE', 'MALE', 'MALE', 'FEMALE']}

In [13]:
import pandas as pd

In [15]:
df = pd.DataFrame(all_data)

In [16]:
df

     names grades genders
0    shade      A  FEMALE
1     dele      B    MALE
2     dayo      A    MALE
3   daniel      B    MALE
4  raphael      A    MALE
5     bola      A  FEMALE

In [18]:
df["genders"]

0    FEMALE
1      MALE
2      MALE
3      MALE
4      MALE
5    FEMALE
Name: genders, dtype: object

In [19]:
df["genders"] == "MALE"

0    False
1     True
2     True
3     True
4     True
5    False
Name: genders, dtype: bool

In [34]:
boys = df[df["genders"] == "MALE"]["grades"].to_list()

In [36]:
boys

['B', 'A', 'B', 'A']

In [46]:
df

     names grades genders
0    shade      A  FEMALE
1     dele      B    MALE
2     dayo      A    MALE
3   daniel      B    MALE
4  raphael      A    MALE
5     bola      A  FEMALE

In [ ]:
df["genders"]=="FEMALE"["grades"]

In [49]:
df[df['genders']=="FEMALE"]["grades"].to_list()

['A', 'A']